section #my_cupboard {
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 20%;
    cursor: pointer;
}

section #room_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

section #my_todo {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 12%;
    cursor: pointer;
}

section #my_time_table {
    position: absolute;
    top: 40%;
    right: 25%;
    width: 12%;
    cursor: pointer;
}

section #my_budha {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 25%;
}

@media(max-width: 750px) {
    section #my_cupboard {
        position: absolute;
        right: 0%;
        bottom: 0;
        width: 25%;
        cursor: pointer;
    }
    section #my_todo {
        position: absolute;
        top: 40%;
        left: 20%;
        width: 15%;
        cursor: pointer;
    }
    section #my_time_table {
        position: absolute;
        top: 40%;
        right: 25%;
        width: 15%;
        cursor: pointer;
    }
    section #my_budha {
        position: absolute;
        top: 30%;
        left: 30%;
        width: 40%;
    }
}