section #cupboard {
    position: absolute;
    right: 0%;
    bottom: 0;
    width: 20%;
}

section #room_2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

section #calendar {
    position: absolute;
    top: 40%;
    left: 20%;
    width: 15%;
    cursor: pointer;
}

section #budha {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 25%;
}

#modal {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 100;
}

#todo {
    width: 100%;
    background-color: white;
    height: 100vh;
}

#my_cupboard {
    width: 100%;
    background-color: white;
    height: 100vh;
}

#close {
    width: 2%;
    right: 6%;
    top: 6%;
    z-index: 100;
    position: absolute;
    cursor: pointer;
}

#cupboard {
    cursor: pointer;
}