section #room_4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

section #brain {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 10%;
    cursor: pointer;
}

section #brain_1 {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 5%;
    cursor: pointer;
}

section #brain_2 {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 5%;
    cursor: pointer;
}

section #brain_3 {
    position: absolute;
    top: 30%;
    left: 48%;
    width: 5%;
    cursor: pointer;
}

section #brain_4 {
    position: absolute;
    bottom: 10%;
    right: 40%;
    width: 5%;
    cursor: pointer;
}

section #brain_5 {
    position: absolute;
    bottom: 10%;
    left: 40%;
    width: 5%;
    cursor: pointer;
}

section #brain_6 {
    position: absolute;
    bottom: 20%;
    left: 20%;
    width: 5%;
    cursor: pointer;
}

section #brain_7 {
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 5%;
    cursor: pointer;
}

#brains {
    width: 100%;
    background-color: white;
    height: 100vh;
}